$main-color-dark:hsl(237, 63%, 64%);
$main-color-light: hsl(236, 72%, 79%);

$white-color: #fff;
$black-color: #333;

$very-light: hsl(240, 31%, 94%);
$light: hsl(234, 14%, 74%);
$medium: hsl(233, 13%, 49%);
$dark: hsl(232, 13%, 33%);
